<!-- Scrollin template credits to Pete Rojwongsuriya -->

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lumos</title>
	<meta name="title" content="Lumos" />
	<meta name="description" content="Lumos web server" />
	<link rel="image_src" href="/images/notify_better_image.png" />

	<link rel="shortcut icon" id="favicon" href="./images/favicon.png">
	<meta name="author" content="Serena Chang">

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,200italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,100italic' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<!--   <script type="text/javascript" src="PUT JAVASCRIPT HERE.js"></script>
 -->  <style>
    html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'Source Sans Pro';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;

    }

	</style>
<!-- 	<script>
	  $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 645,
        loop: true
      });
		});
		
	</script>
 --></head>
<body>
  <div class="page-container">
    <div class="title">testing testing</div>
  </div>
 </body>
</html>